In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import norm
from IPython.display import display

In [2]:
df = pd.read_csv('insurance.csv')
display(df.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
def prob_Z(col, x1, x2):
    
    data = df
    
    x1_mean = data[data[col] == x1]['charges'].mean() # X1
    mu = data[data[col] == x2]['charges'].mean() # population mean
    std = data[data[col] == x2]['charges'].std() # std
        
    z_score = round((x1_mean - mu) / std, 6)
    
    # calculates the P(Z <= z_score) using stats.norm.cdf function 
    Z = norm.cdf(z_score)
    
    # The probability P(Z > z_score) in this case is also called p-value
    p_value = f'{(1 - Z): 8f}'
     
    print(f'z_score: {z_score}')
    print(f'p_value: {p_value}')

4) An insurance expert said that overall, the insurance charges for men is higher than the insurance charges for women

In [5]:
prob_Z('sex', 'male', 'female')

z_score: 0.124648
p_value:  0.450401

From the above, we can see that the p_value is higher than the z_score. It’s very likely that the average charges overall for males are higher than the charges for women. The insurance expert's statement is true.

-----------------------------
5) An insurance expert said that overall, the insurance charges for people in ‘southwest’ region is higher than the insurance charges for people in the ‘northwest’ region

In [6]:
prob_Z('region', 'southwest', 'northwest')

z_score: -0.00638
p_value:  0.502545

From the above, we can see that the p_value is extremely high compare to the z_score. The insurance expert's statement is correct. The average charges overall for southwest costumers are higher than the charges for northwest customers.

-----------------------------
6) An insurance expert said that overall, the insurance charges for people having 0 children is higher than the insurance charges for people having children.

In [7]:
def children(col):
    
    data = df
    
    x1_mean = data[data[col] == 0]['charges'].mean() # X1
    mu = data[data[col].isin([1,2,3,4,5])]['charges'].mean() # population mean
    std = data[data[col].isin([1,2,3,4,5])]['charges'].std() # std
        
    z_score = round((x1_mean - mu) / std, 6)
    
    # calculates the P(Z <= z_score) using stats.norm.cdf function 
    Z = norm.cdf(z_score)
    
    # The probability P(Z > z_score) in this case is also called p-value
    p_value = f'{(1 - Z): 8f}'
     
    print(f'z_score: {z_score}')
    print(f'p_value: {p_value}')

In [8]:
children('children')

z_score: -0.130493
p_value:  0.551912

From the above, we can see that the p_value is extremely higher than the z_score. It’s very likely that the average charges overall for customers without children are higher than the charges for customers with children. The insurance expert's statement is true.